#paper-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
  }

 #power-input-container {
    position: absolute;
    font-family: sans-serif;
    font-size: 20px;
    border: 1px solid lightgray;
    background: white;
    padding: 5px 10px;
    border-radius: 3px;
  
    output {
      display: inline-block;
      width: 50px;
      text-align: right;
    }
  }

